﻿<h2>Alle Hausaufgabe (Thema)</h2>
<p>
    You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.
</p>

<div>
    <div style="margin-top: 10px;">
        <table class="table table-striped table-bordered table-hover table-responsive table-condensed">
            <thead>
                <tr>
                    <th style="width: 30px; text-align:center;">
                        <input id="topicCheckAll" type="checkbox" />
                    </th>
                    <th style="width: 40px; text-align:center;">#</th>
                    <th>Bezeichnung</th>
                    <th>Thema</th>
                    <th>Credits</th>
                    <th>Ersteller</th>
                    <th>Späteste Abgabe</th>
                    <th style="width: 30px;"></th>
                    <th style="width: 30px;"></th>
                </tr>
            </thead>
            <tbody id="topicTableBody">
                @{
                    foreach (Dbz.HomeworkHub.Core.Entities.Homework homework in ViewBag.Aufgaben)
                    {
                        <tr>
                            <td style=" text-align:center;">
                                <input type="checkbox" />
                            </td>
                            <td style=" text-align:center;">@homework.HomeworkId</td>
                            <td style=" text-align:left;">@homework.Name</td>
                            <td style=" text-align:left;">@homework.Topic.Name</td>
                            <td style=" text-align:left;">@homework.CreditPoints</td>
                            <td style=" text-align:left;">@homework.Creator.Firstname, @homework.Creator.Lastname</td>
                            <td style=" text-align:left;">
                                @homework.LastSubmitDate.ToShortDateString()
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", "Homework", new { homeworkId = homework.HomeworkId }, new { @class = "btn btn-default btn-xs btn-primary" })
                            </td>
                            <td>                            
                                @{
                                    Dbz.HomeworkHub.Frontend.Models.CurrentUserModel cum = ViewBag.CurrentUser as Dbz.HomeworkHub.Frontend.Models.CurrentUserModel;
                            
                                    if (homework.Subscriber == null && homework.LastSubmitDate > DateTime.Now && cum != null)
                                    {
                                        @Html.ActionLink("Abbonieren", "Subscribe", "Homework", new { homeworkId = homework.HomeworkId }, new { @class = "btn btn-default btn-xs btn-success" })
                                    }
                                    else if (homework.Subscriber != null && homework.LastSubmitDate > DateTime.Now)
                                    {
                                        <span>Vergeben</span>
                                    }
                                    else
                                    {
                                        <span>Abgelaufen</span>
                                    }
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>