﻿@model Dbz.HomeworkHub.Core.Entities.Homework
<h2>Hausaufgabe</h2>
<p>
    You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.
</p>
<div style="min-height:3px; max-height:3px; background-color:#003366;"></div>
<h3>@Model.Name</h3>
<div style="text-align:right;">
    @{
        if (Model.Subscriber == null)
        {
            @Html.ActionLink("Abbonieren", "Subscribe", "Homework", new { homeworkId = Model.HomeworkId }, new { @class = "btn btn-default btn-success" })
        }
    }
</div>
<div style="background-color:rgba(98, 98, 98, 0.12); padding: 10px; border: 1px dashed grey; margin-top:15px;">
    @(new System.Web.HtmlString(Model.Description))
</div>
<div style="min-height:3px; max-height:3px; background-color:#003366; margin-top:30px;"></div>
<h3>Lösungen</h3>
<div style="text-align:right;">
    @{
        Dbz.HomeworkHub.Frontend.Models.CurrentUserModel cum = ViewBag.CurrentUser as Dbz.HomeworkHub.Frontend.Models.CurrentUserModel;
        if (cum != null && Model.Subscriber != null && Model.Subscriber.UserId == cum.UserId && Model.LastSubmitDate > DateTime.Now)
        {
            <button class="btn btn-default btn-success" title="Lösung einreichen">Lösung einreichen</button>
        }
    }
</div>
<div style="background-color:rgba(35, 128, 63, 0.30); padding: 10px; border: 1px dashed grey; margin-top:15px;">
    
</div>