﻿<h2>Meine Hausaufgaben ()</h2>
<p>
    Hier finden Sie die Hausaufgaben die von Ihnen noch erledigt werden müssen oder die, die sie erstellt haben
    You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.
</p>
<div style="min-height:3px; max-height:3px; background-color:#003366;"></div>
<h3>Von mir erstellte Hausaufgaben</h3>
<div>
    <div style="margin-top: 10px;">
        <table class="table table-striped table-bordered table-hover table-responsive table-condensed">
            <thead>
                <tr>
                    <th style="width: 30px; text-align:center;">
                        <input id="topicCheckAll" type="checkbox" />
                    </th>
                    <th style="width: 40px; text-align:center;">#</th>
                    <th>Bezeichnung</th>
                    <th>Thema</th>
                    <th>Credits</th>
                    <th>Ersteller</th>
                    <th>Späteste Abgabe</th>
                    <th style="width: 30px;"></th>
                    <th style="width: 30px;"></th>
                </tr>
            </thead>
            <tbody id="topicTableBody">
                @{
                    foreach (Dbz.HomeworkHub.Core.Entities.Homework homework in ViewBag.Aufgaben1)
                    {
                        <tr>
                            <td style=" text-align:center;">
                                <input type="checkbox" />
                            </td>
                            <td style=" text-align:center;">@homework.HomeworkId</td>
                            <td style=" text-align:left;">@homework.Name</td>
                            <td style=" text-align:left;">@homework.Topic.Name</td>
                            <td style=" text-align:left;">@homework.CreditPoints</td>
                            <td style=" text-align:left;">@homework.Creator.Firstname, @homework.Creator.Lastname</td>
                            <td style=" text-align:left;">
                                @homework.LastSubmitDate.ToShortDateString()
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", "Homework", new { homeworkId = homework.HomeworkId }, new { @class = "btn btn-default btn-xs btn-primary" })
                            </td>
                            <td>                            
                                @{
                                    if (homework.Subscriber == null && homework.LastSubmitDate > DateTime.Now)
                                    {
                                        @Html.ActionLink("Abbonieren", "Subscribe", "Homework", new { homeworkId = homework.HomeworkId }, new { @class = "btn btn-default btn-xs btn-success" })
                                    }
                                    else if (homework.Subscriber != null && homework.LastSubmitDate > DateTime.Now)
                                    {
                                        <span>Vergeben</span>
                                    }
                                    else
                                    {
                                        <span>Abgelaufen</span>
                                    }
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div style="min-height:3px; max-height:3px; background-color:#003366; margin-top:20px"></div>
<h3>Von mir zu erledigende Hausaufgaben</h3>
<div>
    <div style="margin-top: 10px;">
        <table class="table table-striped table-bordered table-hover table-responsive table-condensed">
            <thead>
                <tr>
                    <th style="width: 30px; text-align:center;">
                        <input id="topicCheckAll" type="checkbox" />
                    </th>
                    <th style="width: 40px; text-align:center;">#</th>
                    <th>Bezeichnung</th>
                    <th>Thema</th>
                    <th>Credits</th>
                    <th>Ersteller</th>
                    <th>Späteste Abgabe</th>
                    <th style="width: 30px;"></th>
                    <th style="width: 30px;"></th>
                </tr>
            </thead>
            <tbody id="topicTableBody">
                @{
                    foreach (Dbz.HomeworkHub.Core.Entities.Homework homework in ViewBag.Aufgaben2)
                    {
                        <tr>
                            <td style=" text-align:center;">
                                <input type="checkbox" />
                            </td>
                            <td style=" text-align:center;">@homework.HomeworkId</td>
                            <td style=" text-align:left;">@homework.Name</td>
                            <td style=" text-align:left;">@homework.Topic.Name</td>
                            <td style=" text-align:left;">@homework.CreditPoints</td>
                            <td style=" text-align:left;">@homework.Creator.Firstname, @homework.Creator.Lastname</td>
                            <td style=" text-align:left;">
                                @homework.LastSubmitDate.ToShortDateString()
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", "Homework", new { homeworkId = homework.HomeworkId }, new { @class = "btn btn-default btn-xs btn-primary" })
                            </td>
                            <td>
                                @{
                        if (homework.Subscriber == null && homework.LastSubmitDate > DateTime.Now)
                        {
                            @Html.ActionLink("Abbonieren", "Subscribe", "Homework", new { homeworkId = homework.HomeworkId }, new { @class = "btn btn-default btn-xs btn-success" })
                        }
                        else if (homework.Subscriber != null && homework.LastSubmitDate > DateTime.Now)
                        {
                            <span>Vergeben</span>
                        }
                        else
                        {
                            <span>Abgelaufen</span>
                        }
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>