﻿<h2>Neue Hausaufgabe</h2>
<p>
    Hier können Sie eine neue Hausaufgabe erstellen. Füllen Sie einfach das Formular auf dieser Seite aus und die Hausaufgabe wird für alle zur Bearbeitung
    freigegeben.
</p>

@{
    if(ViewBag.Errors != null && ViewBag.Errors.Count > 0)
    { 
        <div class="alert alert-danger">
            <ul>
                @{
                    foreach(string error in ViewBag.Errors)
                    {
                        <li>@error</li>
                    }
                }
            </ul>
        </div>
    }
}
<div style="margin-bottom:200px;">
    @using (Html.BeginForm("Create", "Homework"))
    {
        <label>Bezeichnung</label>
        <input id="name" name="name" type="text" maxlength="255" class="form-control" />
        <br />
    
        <label>Thema</label>
        <select id="topic" name="topic" class="form-control">
            @{
            foreach (Dbz.HomeworkHub.Core.Entities.Topic topic in ViewBag.Topics)
            {
                <option value="@topic.TopicId">@topic.Name</option>
            }
            }
        </select>
        <br />
        
        <label>Abgabedatum</label>
        <input id="lastSubmitDate" name="lastSubmitDate" type="date" class="form-control" />
        <br />

        <label>Benötigter Themenrang</label>
        <input id="neededTopicRank" name="neededTopicRank" type="number" class="form-control" />
        <br />

        <label>Vergebene Credits</label>
        <input id="credits" name="credits" type="number" class="form-control" />
        <br />
        
        <label>Beschreibung</label>
        <textarea id="beschreibung" name="beschreibung" class="form-control" style="min-height: 500px;"></textarea>

        <br />
        <br />
        <input type="submit" value="Hausaufgabe anlegen" class="btn btn-primary" />
    }
</div>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
    });
</script>