﻿body
{
    margin: 0;
    padding: 0;
    background: #282828; /* Old browsers */
    background: -moz-linear-gradient(top, #fdfdfd 0%, #dfdfdf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#dfdfdf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fdfdfd 0%,#dfdfdf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fdfdfd 0%,#dfdfdf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fdfdfd 0%,#dfdfdf 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fdfdfd 0%,#dfdfdf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#dfdfdf',GradientType=0 ); /* IE6-9 */
}

div.page
{
    max-width: 1140px;
    min-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    background-color: white;
    min-height: 1000px;
    -webkit-box-shadow: 0 0 2px 1px rgba(180,180,180,1.0);
    box-shadow: 0 0 2px 1px rgba(180,180,180,1.0);
    margin-bottom: 10px;
    background-image: url(./images/square.png);
}

div.headerArea
{
    background-image: url(./images/studenten.jpg);
    background-repeat: no-repeat;
    min-height: 424px;
}

div#main
{
    padding: 20px;
}

div.smallDevider
{
    min-height: 6px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f8f8f8;
}

div#footer
{
    font-size: 8pt;
    color: #606060;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    min-height: 30px;
    margin-bottom:10px;
}

table
{
    background-color: white!important;
}

div.innerPage
{
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(10%,rgba(255,255,255,0)), color-stop(90%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 10%,rgba(255,255,255,0) 90%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 10%,rgba(255,255,255,0) 90%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 10%,rgba(255,255,255,0) 90%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 10%,rgba(255,255,255,0) 90%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
    min-height: 1000px;
}


div.innerPage2
{
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(10%,rgba(255,255,255,0)), color-stop(90%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 10%,rgba(255,255,255,0) 90%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 10%,rgba(255,255,255,0) 90%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 10%,rgba(255,255,255,0) 90%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 10%,rgba(255,255,255,0) 90%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

div.largeLoginForm
{
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #e7e7e7;
    padding:0px 20px 20px 20px;
    background-color:#ededed;
    max-width:350px;
    margin:0px 20px 20px 20px;
}

div.adminSectionButton
{
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #e7e7e7;
    padding:10px 10px 10px 10px;
    margin:0px 20px 20px 20px;
    background-color:#ededed;
    float:left;
    min-width:220px;
    max-width:220px;
}


    div.adminSectionButton a div
    {
        min-width: 200px!important;
        max-width: 200px!important;
    }