﻿@{
    using (var form = Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-inline", role = "form" }))
    {
    <div class="form-group">
        <label class="sr-only" for="password">E-Mailaddresse</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Hier anmelden (E-Mail)...">
    </div>
    <div class="form-group">
        <label class="sr-only" for="username">Passwort</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Passwort...">
    </div>
    <button id="smallLoginFormSignIn" type="submit" class="btn btn-success">Sign in</button>
    }
}
