﻿<h2>Homework Hub - Administration</h2>
<p>
    Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?
</p>
<p>
    You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.
</p>

<div style="text-align: center; margin-top:40px;">
    <div class="adminSectionButton">
        <a href="@Url.Action("Index", "Topic")">
            <img src="@Url.Content("~/Content/images/category.png")" style="margin:10px;" />
            <br />
            <div id="loginFormLoginButton" class="btn btn-primary">Themengebiete verwalten</div>
        </a>
    </div>
    <div class="adminSectionButton">

        <a href="@Url.Action("Index, Topic")">
            <img src="@Url.Content("~/Content/images/users.png")" style="margin:10px;" />
            <br />
            <div id="loginFormLoginButton" class="btn btn-primary">Benutzer verwalten</div>
        </a>
    </div>
</div>

<p style="clear: both;">
    You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.
</p>
