﻿@{
    ViewBag.Title = "Lösungen";
}

<h2>@ViewBag.Message</h2>
<p>
    Hier finden Sie Lösungen.
</p>
<p></p>
    @ViewBag.User.Firstname

    <table>
        <tr>
            <td>Benutzer</td>
            <td>Thema</td>
            <td>Rank</td>
        </tr>
        @{
            foreach(var rank in ViewBag.User.Ranks) {
            <tr>
                <td>@rank.Topic.Name</td>
                <td>@rank.User.Firstname, @rank.User.Lastname</td>
                <td>@rank.Rank</td>
            </tr>
            }
        }
    </table>

